# to get a string like this run:
# openssl rand -hex 32
SECRET_KEY="e82979c81f67ccf67e64aee9aa9ed6e68f4f8224aaf4454b596ae452ac23598d"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
PER_UNIT_COST_IN_RUPEES=1
PER_UNIT_PEAK_FACTOR_COST_IN_RUPEES=1.15